@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

html, head, body {
  padding: 0;
  margin: 0;
}

/* CODE MIRROR */

.CodeMirror {
  height: 100%
}

.zoom-80  { font-size:  80%; }
.zoom-100 { font-size: 100%; }
.zoom-150 { font-size: 150%; }
.zoom-200 { font-size: 200%; }

#editor_box {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}


/* CONTROLS */

.options {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  background-color: #333;
  height: 36px;
  border-bottom: 4px solid #555;
  vertical-align: middle;
  line-height: 36px;
}

.button {
  width: 100px;
  display: block;
  float: right;
  cursor: pointer;
  color: white;
  text-align: center;
}

.blue {
  border-bottom: 4px solid #60B5CC;
}

.blue:hover {
  background-color: #60B5CC;
}

.green {
  border-bottom: 4px solid #7FD13B;
}

.green:hover {
  background-color: #7FD13B;
}

.yellow {
  border-bottom: 4px solid #F0AD00;
}

.yellow:hover {
  background-color: #F0AD00;
}

.hint {
  display: block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #888;
  margin: 0 20px;
  width: calc(100% - 240px);
  height: 36px;
}

.hint > a {
  color: #888;
}

.hint > a:hover {
  color: #aaa;
}

.hint > a:active {
  color: #ccc;
}


/* MARKDOWN */

.doc {
  margin: 4px;
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  font-weight: bold;
}

.doc h1 {
  color: #000000;
  font-size: 28pt;
}

.doc h2 {
  border-bottom: 1px solid #CCCCCC;
  color: #000000;
  font-size: 24px;
}

.doc h3 {
  font-size: 18px;
}

.doc h4 {
  font-size: 16px;
}

.doc h5 {
  font-size: 14px;
}

.doc h6 {
  color: #777777;
  background-color: inherit;
  font-size: 14px;
}

.doc hr {
  height: 0.2em;
  border: 0;
  color: #CCCCCC;
  background-color: #CCCCCC;
}

.doc p, .doc blockquote, .doc ul, .doc ol, .doc dl, .doc li, .doc table, .doc pre {
  margin: 8px;
}

.doc a, .doc a:visited {
  color: #4183C4;
  background-color: inherit;
  text-decoration: none;
}

.doc code, .doc pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 10pt;
  border-radius: 3px;
  background-color: #F5F5F5;
  color: inherit;
}

.doc code {
  border: 1px solid #EAEAEA;
  margin: 0 2px;
  padding: 0 5px;
}

.doc pre {
  border: 1px solid #CCCCCC;
  overflow: auto;
  padding: 4px 8px;
}

.doc pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}
