
.hljs-comment {
  color: #75715e;
}

.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-constant {
  color: #f2777a;
}

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #ae81ff;
}

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name {
  color: #e6db74;
}

.hljs-type {
  color: #66d9ef;
}

.hljs-function {
  color: #6699cc;
}

.hljs-keyword {
  color: #f92672;
}

.hljs, .lang-elm, .lang-javascript, .lang-bash, .lang-json {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 1em;
  border-radius: 6px;
  -webkit-text-size-adjust: none;
}
