html, head, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}


/**** OUTPUT ****/

#output {
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: white;
}

#right-side {

}

.theme-dark #right-side {
  background: #161717;
  color: #b0b0b0;
}

/**** ERRORS ****/

#errors {
  padding: 20px;
  max-width: 700px;
  height: 100%;
  background: white;
}

.theme-dark #errors {
  background: #161717;
  color: #b0b0b0;
}

#errors .error-module {
  background: inherit;
}

#errors .error-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#errors .error-container {
  position: relative;
  background: inherit;
}

#errors .error-header {
  background: inherit;
}

#errors .error-header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #E6E6E6;
  top: 10px;
}

.theme-dark #errors .error-header:before {
  background: #373d3e;
}

#errors .error-title {
  color: #238fca;
  background: inherit;
  z-index: 1;
  margin-left: 10px;
  padding: 0 10px;
}

#errors .error-region {
  background: inherit;
  z-index: 1;
  margin-right: 10px;
  padding: 0 10px;
}

#errors .error-body {
  font-family: 'Courier Prime', monospace;
  white-space: pre-wrap;
  margin-top: 20px;
}


/**** DIVIDER ****/

#divider {
  width: 90px;
  margin-left: -45px;
  position: absolute;
  top: 0;
  left: 50%;
  cursor: ew-resize;
  z-index: 100;
  height: 100%;
}


/**** EDITOR ****/

#left-side {
  border-right: 1px solid #E6E6E6;
  position: relative;
  overflow: hidden;
}

.theme-dark #left-side {
  border-right: 1px solid #373d3e;
}

#editor {
  margin: 0;
  width: 100%;
  height: calc(100% - 30px);
  background-color: white;
}


/**** NAVIGATION ****/

#navigation {
  width: 100%;
  max-height: 30px;
  min-width: max-content;
  border-top: 1px solid #E6E6E6;
  background-color: white;
  color: #464646;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  z-index: 100;
  transition: max-height 0.5s;
}

#navigation.open {
  max-height: 100%;
}

.theme-dark #navigation {
  border-top: 1px solid #373d3e;
  background-color: #161717;
  color: #b0b0b0;
}

#topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  line-height: 30px;

}

#topbar aside {
  display: flex;
  align-items: start;
}


/**** BUTTONS ****/

#navigation button {
  display: inline-block;
  font-family: inherit;
  background: transparent;
  border: 0;
  padding: 0 10px;
  height: 100%;
  cursor: pointer;
  text-align: center;
  position: relative;
  color: inherit;
}

#navigation button span:nth-child(2) {
  margin-left: 8px;
}


/**** ICONS ****/

.icon-link {
  display: inline-block;
  padding: 0 10px;
  color: inherit;
  transition: color 0.25s;
}

.icon-link:hover {
  color: #058eda;
}

.icon-link svg {
  vertical-align: middle;
}

.icon-link span:nth-child(2) {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.blue {
  color: #058eda;
}

.green {
  color: rgb(68, 201, 72);
}

.red {
  color: rgb(215, 31, 10);
}

.magenta {
  color: #dd25ce;
}

.yellow {
  color: #f28600;
}

.cyan {
  color: red;
}

.white {
  color: white;
}

.black {
  color: black;
}

.error-bold {
  font-weight: bold;
}

.error-underline {
  text-decoration: underline;
}



/**** HINT ****/


.hint {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 10px;
}


/**** CODE MIRROR ****/

.CodeMirror {
  height: 100%;
  line-height: 1.25;
  font-size: 14px;
  font-family: 'Courier Prime', monospace;
}

.CodeMirror-linenumber {
  padding: 1px 10px 0 5px;
}


/**** DARK MODE - based on the Monokai theme in Sublime Text ****/

.cm-s-dark.CodeMirror { background: #161717; color: #f8f8f2; }
.cm-s-dark div.CodeMirror-selected { background: #49483E; }
.cm-s-dark .CodeMirror-line::selection, .cm-s-dark .CodeMirror-line > span::selection, .cm-s-dark .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-dark .CodeMirror-line::-moz-selection, .cm-s-dark .CodeMirror-line > span::-moz-selection, .cm-s-dark .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }

/* gutters */

.cm-s-dark .CodeMirror-gutters { background: #161717; border-right: 0px; }
.cm-s-dark .CodeMirror-guttermarker { color: white; }
.cm-s-dark .CodeMirror-guttermarker-subtle { color: #5b5a5a; }
.cm-s-dark .CodeMirror-linenumber { color: #5b5a5a; }
.cm-s-dark .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

/* code */

.cm-s-dark span.cm-comment { color: #75715e; }
.cm-s-dark span.cm-atom { color: #dd25ce; }
.cm-s-dark span.cm-number { color: #dd25ce; }

.cm-s-dark span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-dark span.cm-comment.cm-def { color: #bc9262; }
.cm-s-dark span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-dark span.cm-comment.cm-type { color: #5998a6; }

.cm-s-dark span.cm-property { color: #a6e22e; }
.cm-s-dark span.cm-attribute { color: #a6e22e; }
.cm-s-dark span.cm-keyword { color: #238fca; }
.cm-s-dark span.cm-builtin { color: #238fca; }
.cm-s-dark span.cm-string { color: #dd25ce; }

.cm-s-dark span.cm-variable { color: #b0b0b0; }
.cm-s-dark span.cm-variable-2 { color: #d56c16; }
.cm-s-dark span.cm-variable-3 { color: #66d9ef; }
.cm-s-dark span.cm-type { color: #66d9ef; }
.cm-s-dark span.cm-def { color: #55b0fc; }
.cm-s-dark span.cm-bracket { color: #b0b0b0; }
.cm-s-dark span.cm-tag { color: #238fca; }
.cm-s-dark span.cm-header { color: #dd25ce; }
.cm-s-dark span.cm-link { color: #dd25ce; }
.cm-s-dark span.cm-error { background: #238fca; color: #f8f8f0; }

.cm-s-dark .CodeMirror-activeline-background { background: #2a2c2c; }
.cm-s-dark .CodeMirror-gutter-background.CodeMirror-activeline-gutter { background: #2a2c2c; }
.cm-s-dark .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}


/**** LIGHT MODE ****/

.cm-s-light.CodeMirror { background: #fff; color: #C8C8C8; }

/* gutters */

.cm-s-light .CodeMirror-gutters { background: #fff; border-right: 0px; }
.cm-s-light .CodeMirror-guttermarker { color: white; }
.cm-s-light .CodeMirror-guttermarker-subtle { color: #AAAAAA; }
.cm-s-light .CodeMirror-linenumber { color: #AAAAAA; }

/* code */

.cm-s-light span.cm-comment { color: #75715e; }
.cm-s-light span.cm-atom { color: #ae81ff; }
.cm-s-light span.cm-number { color: #dd25ce; }

.cm-s-light span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-light span.cm-comment.cm-def { color: #045ca4; }
.cm-s-light span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-light span.cm-comment.cm-type { color: #5998a6; }

.cm-s-light span.cm-property { color: #a6e22e; }
.cm-s-light span.cm-attribute { color: #a6e22e; }
.cm-s-light span.cm-keyword { color: #058eda; }
.cm-s-light span.cm-builtin { color: #045ca4; }
.cm-s-light span.cm-string { color: #dd25ce; }

.cm-s-light span.cm-variable { color: #555555; }
.cm-s-light span.cm-variable-2 { color: #d7670a; }
.cm-s-light span.cm-variable-3 { color: #66d9ef; }
.cm-s-light span.cm-type { color: #66d9ef; }
.cm-s-light span.cm-def { color: #045ca4; }
.cm-s-light span.cm-bracket { color: #000000; }
.cm-s-light span.cm-tag { color: #058eda; }
.cm-s-light span.cm-header { color: #ae81ff; }
.cm-s-light span.cm-link { color: #ae81ff; }
.cm-s-light span.cm-error { background: #058eda; color: #f8f8f0; }

.cm-s-light .CodeMirror-activeline-background { background: #eff6ff; }
.cm-s-light .CodeMirror-gutter-background.CodeMirror-activeline-gutter { background: #eff6ff; }
.cm-s-light .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}