body { margin: 0; }

#toggle_link { text-decoration:none; color:rgb(180,180,180); }

a:link, a:visited {text-decoration: none; color: rgb(15,102,230);}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: rgb(234,21,122);}

.CodeMirror { height: 100% }

// form { margin-bottom: 0; }
.zoom-80  { font-size:  80%; }
.zoom-100 { font-size: 100%; }
.zoom-150 { font-size: 150%; }
.zoom-200 { font-size: 200%; }

#editor_box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#always_on { padding: 5px 0; }
#editor_options { padding: 2px 0; }

#always_on *, #editor_options * {
  vertical-align: middle;
}

#options {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.option {
  background-color: rgb(216,221,225);
  font-family: calibri, helvetica, arial, sans-serif;
  font-size: 14px;
  width: 100%;
  border-top: 1px solid rgb(150,150,150);
  overflow: hidden;
}

.type {
  font-size: 13px; 
  color: black;
  white-space: nowrap;
  height: 15px;
  margin: 0;
  padding: 2px 4px;
}

// Markdown styling

.doc {
  margin: 4px;
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  font-weight: bold;
}

.doc h1 {
  color: #000000;
  font-size: 28pt;
}

.doc h2 {
  border-bottom: 1px solid #CCCCCC;
  color: #000000;
  font-size: 24px;
}

.doc h3 {
  font-size: 18px;
}

.doc h4 {
  font-size: 16px;
}

.doc h5 {
  font-size: 14px;
}

.doc h6 {
  color: #777777;
  background-color: inherit;
  font-size: 14px;
}

.doc hr {
  height: 0.2em;
  border: 0;
  color: #CCCCCC;
  background-color: #CCCCCC;
}

.doc p, .doc blockquote, .doc ul, .doc ol, .doc dl, .doc li, .doc table, .doc pre {
  margin: 8px;
}

.doc a, .doc a:visited {
  color: #4183C4;
  background-color: inherit;
  text-decoration: none;
}

.doc code, .doc pre {
  font-family: monospace;
  font-size: 10pt;
  border-radius: 3px;
  background-color: #F5F5F5;
  color: inherit;
}

.doc code {
  border: 1px solid #EAEAEA;
  margin: 0 2px;
  padding: 0 5px;
}

.doc pre {
  border: 1px solid #CCCCCC;
  overflow: auto;
  padding: 4px 8px;
}

.doc pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}
