html, head, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000E16;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: normal;
}

a { color: #1293D8; text-decoration: none; }
a:hover { text-decoration: underline; }


/* content */

.content li {
  margin-bottom: 6px;
}

.content img {
  width: 100%;
  height: 100%;
}


/* home stuff */

.splash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1293D8;
  color: white;
}

.tangram {
  width: 400px;
  height: 400px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
  width: 400px;
}

@media all and (max-width: 840px) {
  .tangram {
    width: 280px;
    height: 280px;
  }
}
@media all and (max-width: 680px) {
  .splash {
    flex-direction: column;
    align-items: center;
  }
  .tangram {
    width: 360px;
    height: 360px;
  }
  .messages {
    align-items: center;
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding-bottom: 56px;
  }
}

.home-section h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 0;
}

.terminal {
  border-radius: 4px;
  padding: 12px;
  max-width: 396px;
  width: calc(100vw - 24px);
  overflow-x: auto;
  white-space: pre;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  background-color: black;
}


/* features */

.features {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.features li {
  list-style-type: none;
}

@media (max-width: 820px) {
  .feature {
    margin: 4em 0;
  }
  .feature-description h2 {
    text-align: center;
  }
  .feature-description {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .feature-image {
    max-width: 420px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 820px) {
  .features {
    max-width: 800px;
  }
  .feature {
    position: relative;
    margin-top: 1em;
    margin-bottom: 4em;
  }
  .feature-description {
    max-width: 340px;
  }
  .feature-image {
    position: absolute;
    top: 0;
    right: 0;
  }
}


/* examples */

.examples li {
  margin-bottom: 4px;
}

.examples li ul {
  margin-top: 6px;
  margin-bottom: 20px;
  padding-left: 1em;
}

.examples li li {
  list-style-type: none;
}


/* header */

.header {
  background-color: #1293D8;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;
}

.nav {
  max-width: 800px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  display: flex;
  align-items: center;
}

.tabs a {
  text-decoration: none;
  color: white;
  margin-left: 1em;
  font-size: 16px;
}

.tabs a:hover,
.tabs a.current {
  text-decoration: underline;
  color: white;
}

@media (max-width: 600px) {
  .tabs {
    font-size: 14px;
  }
  .content {
    margin: 0 0.5em !important;
  }
}



/* splash */

.tagline:empty:before {
  content: "\200b";
}

.buttons {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-top: 24px;
}

.buttons a {
  color: white;
  border: 2px solid white;
  text-decoration: none;
  padding: 8px 24px;
  margin-right: 24px;
}

.buttons a:hover {
  color: #1293D8;
  background-color: white;
}

.buttons a:last-child {
  margin-right: 0;
}


/* docs button */

.docs-buttons {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 16px 0;
}

.docs-buttons a {
  color: #1293D8;
  border: 2px solid #1293D8;
  text-decoration: none;
  padding: 8px 24px;
  margin-right: 24px;
}

.docs-buttons a:hover {
  color: white;
  background-color: #1293D8;
}


/* code */

code {
  font-family: 'Source Code Pro', monospace;
}

/* I heard using :not() is slow for reflows.
Not really any of those on the website though AFAIK.
*/
:not(pre) > code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

:not(pre) > code::before, :not(pre) > code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

pre > code {
  display: block;
  overflow-x: auto;
}


/* blogs */

.author {
  padding-top: 1em;
  color: #ddd;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding-right: 10px;
  text-align: right;
}

.author a {
  color: #ddd;
  text-decoration: underline;
}

/* Notes */

blockquote {
  display: block;
  overflow-x: auto;
  padding: 0 1em;
  border-radius: 6px;
  background-color: #F5FBFF;
  color: #00263C;
}

blockquote p {
  font-size: 14px;
}


/* comparison table */

.comparison {
  overflow: hidden;
  border: 1px solid #f0f0f0;
}
.comparison table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.comparison table td, .comparison table th {
  padding: 5px 10px;
}
.comparison th {
  color: white;
  font-weight: normal;
  background: #1293D8;
}
.comparison tr:nth-child(odd) {
  background: #f0f0f0;
}


/* release notes table */

.releases {
  border-collapse: collapse;
  width: 100%;
}

.releases td {
  padding: 5px 10px;
}


/* FOOTER */


.footer {
  text-align: center;
  margin-top: 6em;
  border-top: 1px solid #eeeeee;
  padding: 2em 0;
  color: #bbbbbb;
}


.grey-link {
  color: #bbbbbb;
  text-decoration: underline;
  cursor: pointer;
}

.grey-link:hover {
  color: #bbbbbb;
}

/* iframes */

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /*assuming 16/9 aspect ratio*/
  max-width: 800px;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
